Create new room: <form ng-submit="rooms.createRoom()"><input type="text" ng-model="rooms.newRoomName" size="40"> <input type="submit" class="btn btn-primary" value="Create" /></form>

<h3>Rooms</h3>
<ul>
    <li ng-repeat="room in rooms.rooms"><a href="#/rooms/{{room.name}}">{{room.name}}</a></li>
</ul>