<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 messages well">
            <div ng-repeat="message in chat.messages">
                <span class="from">{{message.from}}:</span> <span class="msg">{{message.body}}</span>
                <div ng-if="message.imageUrl"><img ng-src="{{message.imageUrl}}"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-hide="chat.loggedIn">
        	<form ng-submit="chat.login()">
	        	<input type="text" ng-model="chat.username" placeholder="Username" size="30">
	            <input type="submit" class="btn btn-primary">Login</input>
            </form>
        </div>
        <div ng-show="chat.loggedIn">
        	<form ng-submit="chat.send()">
	        	<input type="text" class="message" ng-model="chat.message" size="80">
	            <input type="submit" class="btn btn-primary">Send</input>
            </form>
        </div>
    </div>
</div>